#result {
    display: none;
    background-color: red;
    color: white;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px , 0px;
    height: auto;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}


